a {
  color:#542217;
 }

a:hover {
  color:#903941;
}

.media-body {
	padding-left: 10px
}

img.personal {
	margin-bottom: 6px
}

.hiddenimg {
}


.hiddenimg img {
	width: 85%;
}

.hiddentxt {
}

.hiddentxt a {
  text-decoration: none;
}

.hiddenclick {
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: #F00;
  text-decoration: none;
}

.right:hover ~ .hiddenimg {
  display: inline;
}

section.main {
  float: right;
}

.hide{
  height: 0px !important;
  width: 660px !important;
  float: left;
}

img.filler {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.this-will-not-be-read {
   display: none !important;
}
body {
  padding: 50px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
