a {
  color:#542217;
 }

a:hover {
  color:#903941;
}

.media-body {
	padding-left: 10px
}

img.personal {
	margin-bottom: 6px
}

.hiddenimg {
  display: none;
}

.hiddenimg img {
	width: 85%;
}

.hiddentxt {
}

.hiddentxt a {
  text-decoration: none;
}

.hiddenclick {
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: #F00;
  text-decoration: none;
}

.right:hover ~ .hiddenimg {
  display: block;
}

section.main {
  float: right;
}